Это задание не проверяется LMS, но выполняя его, вы тренируете и закрепляете навыки работы с функциями библиотеки Pandas на различных исходных данных.

Для этого задания вы можете использовать любой доступный вам набор данных, например, загрузите заинтересовавший вас набор данных с сайта kaggle.

Что нужно сделать:

●	создайте Python-ноутбук, загрузите в него данные из csv-файла и преобразуйте в объект DataFrame;

●	просмотрите полученный объект;

●	вычислите описательные статистики для DataFrame;

●	поразмышляйте, как вы можете использовать срезы для анализа вашего набора данных, получите необходимый срез(ы) DataFrame;

●	определите, какую полезную информацию, вы можете получить о данных, используя отбор и фильтрацию, сформируйте необходимый поднабор данных и проанализируйте его;

●	выполните сортировку применительно к исследуемому набору данных;

●	потренируйтесь в переименование колонок исследуемого DataFrame;

●	проверьте DataFrame на наличие пропущенных значений, выберите один из методов работы с пропусками и примените его;

●	проверьте DataFrame на наличие дубликатов;

●	сделайте предположение, какой новый признак вы могли бы ввести для исследуемого набора данных, и реализуйте его в созданном DataFrame.

По каждому пункту задания сделайте выводы и отразите их в своем Python-ноутбуке. В качестве решения задания прикрепите ссылку на ноутбук.

In [8]:
import pandas as pd

df = pd.read_csv('police.csv')
df.head()

,stop_date,stop_time,county_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,01:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,2005-01-18,08:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,2005-01-23,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2005-02-20,17:15,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,2005-03-14,10:00,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91741 entries, 0 to 91740
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   stop_date           91741 non-null  object
 1   stop_time           91741 non-null  object
 2   county_name         0 non-null      float64
 3   driver_gender       86406 non-null  object
 4   driver_age_raw      86414 non-null  float64
 5   driver_age          86120 non-null  float64
 6   driver_race         86408 non-null  object
 7   violation_raw       86408 non-null  object
 8   violation           86408 non-null  object
 9   search_conducted    91741 non-null  bool
 10  search_type         3196 non-null   object
 11  stop_outcome        86408 non-null  object
 12  is_arrested         86408 non-null  object
 13  stop_duration       86408 non-null  object
 14  drugs_related_stop  91741 non-null  bool
dtypes: bool(2), float64(3), object(10)
memory usage: 9.3+ MB

In [11]:
df.describe()

       county_name  driver_age_raw    driver_age
count          0.0    86414.000000  86120.000000
mean           NaN     1970.491228     34.011333
std            NaN      110.914909     12.738564
min            NaN        0.000000     15.000000
25%            NaN     1967.000000     23.000000
50%            NaN     1980.000000     31.000000
75%            NaN     1987.000000     43.000000
max            NaN     8801.000000     99.000000

In [14]:
df.describe(include='object')

,stop_date,stop_time,driver_gender,driver_race,violation_raw,violation,search_type,stop_outcome,is_arrested,stop_duration
count,91741,91741,86406,86408,86408,86408,3196,86408,86408,86408
unique,3768,1436,2,5,12,6,24,6,2,5
top,2012-01-11,11:00,M,White,Speeding,Speeding,Incident to Arrest,Citation,False,0-15 Min
freq,69,323,62895,62158,48463,48463,1219,77006,83479,69543

In [35]:
df.groupby(['driver_gender', 'driver_race'])[['is_arrested']].value_counts().unstack()

is_arrested                  False   True
driver_gender driver_race
F             Asian          502.0    11.0
              Black         2446.0   134.0
              Hispanic      1791.0    80.0
              Other           26.0     NaN
              White        18150.0   371.0
M             Asian         1716.0    30.0
              Black         9093.0   571.0
              Hispanic      7150.0   486.0
              Other          212.0     2.0
              White        42391.0  1244.0

In [36]:
df.groupby(['driver_gender', 'driver_race'])[['is_arrested']].value_counts(normalize=True).unstack()

is_arrested                   False     True
driver_gender driver_race
F             Asian        0.978558  0.021442
              Black        0.948062  0.051938
              Hispanic     0.957242  0.042758
              Other        1.000000       NaN
              White        0.979969  0.020031
M             Asian        0.982818  0.017182
              Black        0.940915  0.059085
              Hispanic     0.936354  0.063646
              Other        0.990654  0.009346
              White        0.971491  0.028509

На полученном срезе видно, что среди всех нарушителей значительно чаще (в 2-2.5 раза чаще) были арестованы нарушители рас `Hispanic` и `Black`. Причём данное утверждение справедливо как для мужчин, так и для женщин.

In [42]:
df.rename(columns={'driver_age_raw' : 'driver_birth_year'})

,stop_date,stop_time,county_name,driver_gender,driver_birth_year,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,01:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,2005-01-18,08:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,2005-01-23,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2005-02-20,17:15,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,2005-03-14,10:00,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91736,2015-12-31,20:27,NaN,M,1986.0,29.0,White,Speeding,Speeding,False,NaN,Warning,False,0-15 Min,False
91737,2015-12-31,20:35,NaN,F,1982.0,33.0,White,Equipment/Inspection Violation,Equipment,False,NaN,Warning,False,0-15 Min,False
91738,2015-12-31,20:45,NaN,M,1992.0,23.0,White,Other Traffic Violation,Moving violation,False,NaN,Warning,False,0-15 Min,False
91739,2015-12-31,21:42,NaN,M,1993.0,22.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
91740,2015-12-31,22:46,NaN,M,1959.0,56.0,Hispanic,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [ ]:
df.drop(['county_name', 'search_type'], axis=1, inplace=True)
df.head()

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,01:55,M,1985.0,20.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False
1,2005-01-18,08:15,M,1965.0,40.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False
2,2005-01-23,23:15,M,1972.0,33.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False
3,2005-02-20,17:15,M,1986.0,19.0,White,Call for Service,Other,False,Arrest Driver,True,16-30 Min,False
4,2005-03-14,10:00,F,1984.0,21.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False

In [54]:
df.groupby('is_arrested')['drugs_related_stop'].value_counts().unstack()

drugs_related_stop  False  True
is_arrested
False               82875    604
True                 2718    211

In [61]:
# Как вариант можно добавить столбец с булиевыми значениями для определения совершеннолетия нарушителя
df['is_an_adult'] = df['driver_age'] >= 21
df.head()

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,stop_outcome,is_arrested,stop_duration,drugs_related_stop,is_an_adult
0,2005-01-02,01:55,M,1985.0,20.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False,False
1,2005-01-18,08:15,M,1965.0,40.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False,True
2,2005-01-23,23:15,M,1972.0,33.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False,True
3,2005-02-20,17:15,M,1986.0,19.0,White,Call for Service,Other,False,Arrest Driver,True,16-30 Min,False,False
4,2005-03-14,10:00,F,1984.0,21.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False,True

In [68]:
df.duplicated().any()

np.True_

In [ ]:
new_df = df.drop_duplicates()
# new_df = df[~df.duplicated()]